$color-1: #ffffff;
$color-LG: #373737;
$color-BTN: #00000029;
$color-BDR: #242424;


@font-face {
  font-family: "font-1";
  src: url(../style/font/Roboto-Light.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../style/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(../style/font/Roboto-Bold.ttf);
}
$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;
$font-3: "font-3", serif;
